#
# RDDMA configuration
#

menu "Rincon DMA driver support"

config RDDMA
	tristate "Rincon DMA driver"
	default m
	---help---
	  Enable support for the Rincon Distributed DMA engine.

config RDDMA_FABRIC_NET
	tristate "Rincon DMA driver -- use ethernet in place of switch fabric"
	depends on RDDMA && NET
	default m
	---help---
	  Enable support for using the ethernet for RDDMA as if
	  it were a switch fabric.

# Note: following depends on RAPIDIO, not NET, fixme later!

config RDDMA_FABRIC_RIONET
	tristate "Rincon DMA driver -- RIO switch fabric"
	depends on RDDMA && NET
	default m
	---help---
	  Enable support for RDDMA communication over RIO switch fabric

# also depends on RAPIDIO, but removed for now

config RDDMA_DMA_RIO
	tristate "Rincon DMA driver -- RIO via PPC8641 DMA hardware"
	depends on RDDMA 
	default m
	---help---
	  Enable support for Rincon DMA over Rapid I/O.

config RDDMA_DMA_6460
	tristate "Rincon DMA driver -- RDDMA on MPC8245 (MPC10x DMA controller)"
	depends on RDDMA && MPC10X_BRIDGE
	default m
	---help---
	  Enable support for Rincon DMA over Rapid I/O.

config RDDMA_KOBJ_DEBUG
	bool "Rincon RDDMA kobject debugging"
	depends on RDDMA
	default n
	---help---
	  Enable additional debug traces that track kobject/kset refcount changes
	  as they occur, and that provide some context to where they occur.

	  This feature produces a wheen of otherwise-useless messages in the system
	  log, so should be DISABLED by DEFAULT, and used only when you're trying to
	  find leaks in RDDMA put/get refcounting.

	  Use an expression like the one below to extract these messages out of a log:
	  
	  	grep -P "kobject_|kset_|\\*\\*\\*\\>"
endmenu
